.feature-box-sm {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	background: $color-white;
	.featured-image-box {
		min-height: 150px;
		background-size: cover;
	}
	h5 {
		padding: 1.15rem;
		font-weight: normal;
	}
	h4, p {
		padding-left: 15px;
		padding-right: 15px;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding: 1rem 2rem;
		}
	}
}

.side-img {
	max-width: 175px;
	margin-right: 1em;
	margin-bottom: 1em;
	.featured-image-box {
		max-height: 175px;
		overflow: hidden;
	}
}

.featured-news {
	width: 100%;
	resize: both;
	position: relative;
	min-height: 281px;
	background-size: cover;
	h4 {
		padding: 2rem 15rem 2rem 0.625rem;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: lighter;
		color: $color-white;
	}
}
