.recent-news, .relevant, .related-events {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding: 1rem 0;
		}
	}
	article:first-of-type {
		padding-left: 0;
	}

	article:last-of-type {
		padding-right: 0;
	}
	h4 {
		line-height: 1.2em;
	}
}

.related-news {
	article:first-of-type {
		padding-left: 15px;
		padding-right: 0;
	}
	.shady-bkgd {
		background-color: $color-grey-light;
	}
	article:last-of-type {
		padding-right: 0;
	}
	h4 {
		line-height: 1.2em;
	}
}

