.recent-news,
.relevant,
.related-events {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding: 1rem 0;
		}
	}
	article:first-of-type {
		padding-left: 0;
	}

	@include media-breakpoint-down(sm) {
		article:first-of-type {
			padding-left: 15px;
		}
	}

	article:last-of-type {
		padding-right: 0;
	}
	h4 {
		line-height: 1.3em;
	}

}

.events-upcoming,
.recent-news,
.relevant,
.related-events {
	p {
		margin-bottom: .25em;
	}
}

.related-news {
	article:first-of-type {
		padding-left: 15px;
		padding-right: 0;
	}
	@include media-breakpoint-down(sm) {
		article:first-of-type {
			padding-left: 0px;
		}
	}
	.shady-bkgd {
		background-color: $color-grey-light;
	}
	article:last-of-type {
		padding-right: 0;
	}
	h4 {
		line-height: 1.3em;
	}
}

