.subscribe-box{
	background-color: $color-grey-light;
	padding: 0.65em 1em;
}

#sidebar {
	.subscribe-box {
		padding: 1.25em .65em .65em .65em;
		color: $color-white;
		background-image: url('../images/newsletter-background.jpg');
		background-size: cover;
		background-position: center center;
		p {
			font-weight: 300;
		}
	}
}
