.diagonal {
  @include strip-bkgd;
}

.height-2 {
  min-height: $height-2;
}

.height-3 {
  min-height: $height-3;
}

.height-5 {
  min-height: $height-5;
}

.height-6 {
  min-height: $height-6;
}

.height-7 {
  min-height: $height-7;
}

.darker-grey {
  background-color: $color-black;
}

.bcc-otb-project {
  position: relative;
  z-index: 1;
  @include text-shadow;

  .bg {
    position: absolute;
    z-index: -1;
    background-image: url('../images/ot-image.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 85% 85%;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }

  h3, p > a {
    background-color: $color-white;
  }

  p > a {
    font-size: medium;
  }
}

.bcc-upcoming-events {
  position: relative;
  z-index: 1;
  text-shadow: 1px 2px 2px $color-black;

  .bg {
    position: absolute;
    z-index: -1;
    background-image: url('../images/events-image.jpg');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: 0% 0%;
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
}

#content-special {
  background-color: $color-grey-light;
  border-left: 20px solid $color-grey-light;
  border-right: 20px solid $color-grey-light;
  margin-left: -20px;
  margin-right: -20px;
}

#content {
  padding: 0;
}

.bcc-clip {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-bottom: 10px solid $color-blue;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wp-prev-next {
  background-color: #f0fafd;
  color: $color-black;
}

.prev-link, .next-link {
  max-width: 45%;
}

.container-fluid {
  max-width: 1280px;
}

.box {
  margin-bottom: 20px;
}

.shadow-box {
  @include shadow-box;
  margin-bottom: 20px;
  min-height: 160px;
  background-color: $color-white;

  h4, p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.bcc-featured {
  min-height: 405px !important;
  position: relative;
  background-color: $color-white;
}

img.bcc-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.addthis_toolbox {
  margin-bottom: 15px;
  margin-top: 15px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;

}

.vertical-align {
  @include vertical-align;
}

.bottom-align {
  position: absolute;
  bottom: 0;
}

.border-bottom {
  border-bottom: 1px solid $color-grey-light;
}

.featured-news-front {
  background-size: cover;
  h4 {
    font-weight: normal;
    margin: 1em 0 2em 0;
    a {
      &:hover {
        color: $color-grey-light;
        text-decoration: none;
      }
    }
  }
  p {
    font-weight: lighter;
    margin: 1em 0;
  }
}

.featured-event {
  min-height: 180px;
  background-size: cover;
  padding: 0;
  h4 {
    margin-top: auto;
    color: $color-white;
    font-weight: normal;
    padding: 0.5rem;
    margin: 0;
    a {
      &:hover {
        color: $color-grey-light;
        text-decoration: none;
      }
    }
  }
}

.events-image-box {
  min-height: 100px;
}
