.banner {
	clear: both;
	.nav li {
		@extend .nav-item;
	}
	.nav a {
		@extend .nav-link;
	}
	.navbar{
		padding-left: 0;
		padding-right: 0;
	}
}

.search-form .search-submit {
  display: none;
}
.brand{
	min-height: 106px;
}
