.page-header {
	background-image: url('../images/default-header.jpg');
	background-size: cover;
	width: 100%;
	min-height: 281px;
	resize: both;
	position: relative;
}

.ai1ec-single-event {
	padding: 15px;
	border: 1px solid $color-grey;
	.ai1ec-field-label {
		width: inherit;
	}
}

.ai1ec-single p {
	padding: 15px;
	margin-top: 20px;
}
