header.entry-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $color-grey-medium;
}

li.post-navigation {
  list-style: none;
  a {
    color: $color-blue;
  }
}

ul.post-navigation.clearfix{
  background-color:#d1ecf1;
}