header.entry-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid $color-grey-medium;
}

li.post-navigation {
  list-style: none;
  a {
    color: $color-blue;
  }
}

.post-footer {
  background-color: $color-blue-info;
  ul.clearfix {
    padding-left: 0;
  }
}

[itemprop="relatedLink"] {
  color: $color-blue;
  &:after {
    color: $color-black;
    content: "|";
    padding-left: 5px;
  }
  &:last-child:after {
    content: "";
  }
}