header.entry-header {
  padding-bottom: 9px;
  margin: 10px 0 10px;
}

li.post-navigation {
  list-style: none;
  a {
    color: $color-blue;
  }
}

.post-footer {
  ul.clearfix {
    padding-left: 0;
  }
}

.upcoming-events {

  p {
    color: $color-grey-caption;
    font-weight: bold;
    font-size: 0.9em;
  }
  li {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
  }
}
