aside#sidebar {
	ul {
		list-style: none;
		padding-left: 0;
		li {
			font-size: 0.9rem;
			padding-bottom: 0.8rem;
			line-height: 1.3rem;
			border-bottom: 1px solid $color-grey;
			margin-bottom: 0.5rem;
			font-weight: bold;

			&:last-child {
				border-bottom: 0;
			}
			a {
				color: $color-purple;
			}
		}
	}

	ul.children {
		padding-left: 20px;
		li {
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.dropdown {
		ul {
			padding-left: 10px;
			li{
				padding-top: 0.5rem;
			}
		}
	}

	h4.widget-title {
		font-weight: bold;
		font-size: 1.3em;
	}

	.widget {
		margin-bottom: 18px;
	}

	li.pagenav {
		list-style: none;
		font-weight: bold;
		font-size: 1.3em;
		.page_item {

			&.current_page_item > a {
				color: $color-grey-darker;
			}
		}
		ul {

			li {
				&:first-of-type {
					padding-top: .8rem;
				}
				&:last-of-type{
					padding-bottom: 0;
				}
			}
		}
	}

}
