#sidebar {

  ul {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;

    li {
      font-size: 0.9rem;
      padding-bottom: 0.6rem;
      line-height: 1.6rem;
    }
  }

  h4.widget-title {
    background-color: $color-grey-light;
    border: 1px solid $color-grey;
    padding: 8px 1em;
    font-size: 18px;
  }

  .widget {
    margin-bottom: 18px;
  }

  li.pagenav {

    list-style: none;

    li.page_item_has_children ~ li {
      text-indent: 1rem;
      border-bottom: 1px solid $color-grey-light;
    }

    li.page_item_has_children ~ li.page_item_has_children {
      text-indent: 0;
      border-bottom: none;
    }

    .current_page_item a {
      color: $color-grey-darker;
    }
  }
}
