body {
	@include awesome-font;

	color: $color-black;
	padding-top: 0;
	line-height: 1.5em;
}

/*
|--------------------------------------------------------------------------
| Headers
|--------------------------------------------------------------------------
|
|
|
|
*/

h1 {
	font-weight: lighter;
	line-height: 1.4em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.3em;
}

h3 {
	font-size: 1.5em;
	line-height: 1.2em;
}

h4 {
	font-size: 1.3em;
	line-height: 1.1em;
}

h5 {
	font-size: 1.1em;
	line-height: 1.0em;
}

h1 {
	&.entry-title {
		font-size: 3em;
		padding: 0.625rem 10rem 0.625rem 2rem;
		margin: 0;
		color: $color-white;
		min-width: 50%;
	}
}

h4 small span.upper {
	font-size: 11px;
}

/*
|--------------------------------------------------------------------------
| Text
|--------------------------------------------------------------------------
|
| Other elements
|
|
*/

p {
	font-size: 1.1rem;
	line-height: 1.5em;
}

figure {
	display: table;
	margin: 0 20px 1em;

	&.recent {
		margin-left: 0;
		margin-top: 0;
	}

	img {
		display: block;
		max-width: 100%;
	}

	figcaption {
		display: table-caption;
		caption-side: bottom;
		text-align: center;
		color: $color-grey;
	}
}

/*
|--------------------------------------------------------------------------
| Links
|--------------------------------------------------------------------------
|
|
|
|
*/
a {
	color: $color-blue-dark;

	&:hover,
	&:focus {
		text-decoration-style: solid;
		color: $color-black;
	}

	&:hover img.grey-hover,
	&:focus img.grey-hover {
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	}

	&:hover img.dark-hover,
	&:focus img.dark-hover {
		filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	}
}

/****************************************
	Global Classes
*****************************************/
.entry-content {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-inverse {
	color: $color-white;
	a {
		color: $color-white;
	}
	a:hover{
		color: $color-blue-dark;
	}
}

p.tags {
	line-height: 26px;

	a {
		padding: 2px 4px;
		color: $color-white;
		background-color: $color-blue;
		vertical-align: baseline;
		font-size: 75%;
		font-weight: bold;
		border-radius: .25em;
	}
}

.upper {
	text-transform: uppercase;
}

.purple {
	color: $color-purple;
}

.green {
	color: $color-green;
}

.grey {
	color: $color-grey-caption;
}

.pad-left {
	padding-left: 15px;
}

.pad-right {
	padding-right: 15px;
}

.pad-top {
	padding-top: 15px;
}

.pad-bottom {
	padding-bottom: 15px;
}

.post-date {
	display: block;
	text-transform: uppercase;
	line-height: 1;
	font-size: 10px;
}

time.updated {
	font-size: small;
}

.alert {
	border-radius: 0;
}

.purple-bkgd {
	color: $color-white;
	&:hover {
		background: rgba(0, 0, 0, 0.75);
	}
	background: rgba(54, 43, 99, 0.75);
}

.blue-bkgd {
	color: $color-white;
	&:hover {
		background: rgba(0,0,0,0.75);
	}
	background: rgba(0,165,225,0.75);
}

.shady-bkgd {
	background-color: $color-grey-light;
}

.black-bkgd{
	background-color: $color-black;
}

.full-width {
	width: 100%;
}

.container-fluid {
	max-width: 1280px;
}

.min-height-sm {
	min-height: 150px;
}

.min-height-md {
	min-height: 200px;
}

.font-size-sm{
	font-size: $font-size-sm;
}
