@mixin unordered-list {
  ul {
    list-style-type: none;

    li {
      border-bottom: 1px solid $color-grey;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@mixin no-shadows {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

@mixin shadow-box {
  box-shadow: 1px 2px 3px 1px $color-grey-darker;
  -moz-box-shadow: 1px 2px 3px 1px $color-grey-darker;
  -webkit-box-shadow: 1px 2px 3px 1px $color-grey-darker;
}

@mixin awesome-font {
  font: {
    family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  color: $color-black;
}

@mixin strip-bkgd {
  background-color: transparent;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, $color-grey-light 6px, $color-grey-light 14px);

  /*  keeping this in until Chrome sorts out business with repeating-linear-gradient' */
  background-image: url('../images/diagonal-bkgd.png');
  background-repeat: no-repeat;
  background-clip: border-box;
}

@mixin vertical-align {
  margin-top: 50%;
}

@mixin switcher-doo {
  border-top: 1px solid $color-grey-light;

  @include text-shadow;

  .bg {
    background-image: none;
  }

  .text-inverse {
    color: $color-black;
  }

  .bottom-align {
    position: relative;
  }

  i.fa-inverse {
    color: $color-black;
  }
}

@mixin text-shadow {
  text-shadow: 1px 2px 2px $color-grey-darker;
}

@mixin transition-opacity {
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  opacity: 1;
}

@mixin transition-border {
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  border-top: 1px solid $color-blue;
}
 @mixin opaque-bkgd {
	opacity: 0.75;
	color: $color-white;
	&:hover {
		background-color: $color-black;
	}
}
