$color-white: #fff;

$color-black: #000000;
$color-black-midnight: #000;

$color-grey: #d4d4d4;
$color-grey-dark: #808285;
$color-grey-light: #ebebeb;
$color-grey-medium: #eee;
$color-grey-darker: #a4a3a3;
$color-grey-caption: #808080;

$color-green: #52b74e;
$color-green-aqua: #07a08b;
$color-green-elm: #208c7e;
$color-green-hippie: #468847;
$color-green-peppermint: #dff0d8;
$color-green-beryl: #d6e9c6;

$color-pink-oyster: #eed3d7;
$color-pink-bizarre: #f2dede;

$color-red-chestnut: #b94a48;

$color-blue: #00a5e1;
$color-blue-dark: #009dd6;
$color-blue-boston: #3a87ad;
$color-blue-mint: #bce8f1;
$color-blue-water: #d9edf7;
$color-blue-darker: #1e89ac;
$color-blue-info: #f0fafd;
$color-blue-light: rgb(240, 250, 253);

$color-purple: #362b63;

$height-2: 248px;
$height-3: 320px;
$height-5: 568px;
$height-6: 608px;
$height-7: 730px;
